db.sqlite3
modeloapp/__pycache__/*
/apps/usuarios/__pycache__/*
/apps/usuarios/migrations/*
/apps/localizacoes/migrations/*
/apps/localizacoes/__pycache__/*
/apps/solicitacoes/__pycache__/*
/apps/solicitacoes/migrations/*
/apps/fornecedores/__pycache__/*
/apps/fornecedores/migrations/*
/apps/avaliacoes/migrations/*
/apps/avaliacoes/__pycache__/*
/apps/orgaos/migrations/*
/apps/orgaos/__pycache__/*
